<template>
    <a
        :href="href"
        :class="matches ? activeClass : inactiveClass"
        @click.left.exact.prevent="onClick"
    >
        <slot :matches="matches" />
    </a>
</template>
<script lang="ts">
import { computed, defineComponent, PropType } from "vue"
import { getUrl, Params } from "@jreusch/router"
import { useRouter } from './context'
import useMatch from "./useMatch"

/**
 * A Link is like an <a>, but dynamically adds and removes classes based on the URL.
 *
 * @example
 * <Link href="/impressum">Impressum</Link>
 * <Link
 *      href="/blog/:slug+"
 *      :params="{ slug: ['hello-world'] }"
 * >
 *      Previous post
 * </Link>
 * <Link
 *      href="/blog"
 *      class="block px-4 py-2"
 *      active-class="bg-blue-600 text-white"
 *      inactive-class="text-gray-900 hover:bg-gray-200"
 * >
 *      My ramblings
 * </Link>
 */
export default defineComponent({
    props: {
        /**
         * Link target URL. Should start with a slash ('/') to enable client-side navigation.
         */
        href: { type: String, required: true },
        /**
         * If set, interpret the href as a pattern, and use stringify to build the
         * final URL set on the <a> tag.
         */
        params: { type: Object as PropType<Params|undefined>, default: undefined },
        /**
         * Class only set if the current URL matches the Link's href.
         * See `exact` for details.
         */
        activeClass: { default: '' },
        /**
         * Class only set if the current URL does not match the Link's href.
         * See `exact` for details.
         */
        inactiveClass: { default: '' },
        /**
         * By default, any URL that starts with the href will, set the link into
         * `active` state. Using `exact`, you can change that behaviour to instead
         * only match if the URL is exactly the same as in the href.
         */
        exact: Boolean
    },

    setup (props) {
        const router = useRouter()

        const url = computed(() => getUrl(props.href, props.params))
        const href = computed(() => router.toHref(url.value))

        const match = useMatch(url, () => !props.exact)
        const matches = computed(() => match.value !== null)

        const onClick = () => router.navigate(url.value)

        return { href, matches, onClick }
    }
})
</script>
