<template>
    <slot />
</template>
<script lang="ts">
import { createMemoryRouter } from '@jreusch/router'
import { defineComponent } from 'vue'

import { provideRouterContext } from './context'

export default defineComponent({
    setup () {
        provideRouterContext(createMemoryRouter())
    }
})
</script>
