<template>
    <slot />
</template>
<script lang="ts">
import { createPathRouterWithBase } from '@jreusch/router'
import { computed, defineComponent } from 'vue'

import { provideRouterContext } from './context'

export default defineComponent({
    props: {
        base: { type: String, required: true }
    },

    setup (props) {
        const router = computed(() => createPathRouterWithBase(props.base))
        provideRouterContext(router)
    }
})
</script>
