<template>
    <slot />
</template>
<script lang="ts">
import { createPathRouter } from '@jreusch/router'
import { defineComponent } from 'vue'

import { provideRouterContext } from './context'

export default defineComponent({
    setup () {
        provideRouterContext(createPathRouter())
    }
})
</script>
