<template></template>
<script lang="ts">
import { getUrl } from "@jreusch/router"
import { defineComponent, watch } from "vue"
import useMatch from "./useMatch"
import { useRouterContext } from "./context"

/**
 * Redirect is a render-less component watching the current url, automatically
 * navigating to another URL if it matches.
 *
 * @example
 * <Redirect from="/impressum" to="/about-us" />
 * <Redirect from="/blog/:slug+" to="/posts/:slug+" />
 */
export default defineComponent({
    props: {
        from: { type: String, required: true },
        to: { type: String, required: true },
        replace: { type: Boolean, default: true }
    },

    setup (props) {
        const ctx = useRouterContext()
        const match = useMatch(() => props.from)

        watch(match, match => {
            if (match && !ctx.matched) {
                ctx.router.navigate(getUrl(props.to, match), props.replace)
            }
        })
    }
})
</script>
