<template>
    <slot />
</template>
<script lang="ts">
import { Router } from '@jreusch/router'
import { defineComponent, PropType } from 'vue'

import { provideRouterContext } from './context'

export default defineComponent({
    props: {
        router: { type: Object as PropType<Router>, required: true }
    },

    setup (props) {
        provideRouterContext(() => props.router)
    }
})
</script>
