<template>
    <slot v-if="match" v-bind="match" />
</template>
<script lang="ts">
import type { Params } from '@jreusch/router'
import { defineComponent, inject, InjectionKey, provide, ref, Ref, watchEffect } from 'vue'
import { useRouterContext } from './context'
import useMatch from './useMatch'

const symbol : InjectionKey<Ref<Params>> = Symbol('params')

/**
 * An alternative to providing a function to `<Route>`, you can also use this function
 * to inject the params into the component.
 *
 * Note that this only works inside of the `<Route>`.
 */
export function useParams<T extends Params = Params>(): Ref<T> {
    return inject(symbol) as Ref<T>
}

/**
 * Use the `<Route>` component to wrap your pages, rendering them conditionally
 * depending on the current URL.
 *
 * You can provide a function (e.g. a component) to dynamically render content based on the matched params.
 *
 * To use bundle-splitting and load Route components dynamically, see `<AsyncRoute>`.
 *
 * @example
 * <Route pattern="/">Home</Route>
 * <Route pattern="/blog/:postId" v-slot="{ postId }">
 *      <Post :id="postId" />
 * </Route>
 */
export default defineComponent({
    props: {
        /**
         * Pattern to match against.
         * The extracted params will be available using `useParams`, and will be
         * automatially set as props if the children are a single component.
         */
        pattern: { type: String, required: true }
    },

    setup(props) {
        const ctx = useRouterContext()

        const params = useMatch(() => props.pattern)
        const match = ref<Params|null>(null)

        watchEffect(() => {
            if (params.value && (!ctx.matched || ctx.matched === props.pattern)) {
                ctx.matched = props.pattern
                match.value = params.value
            } else {
                match.value = null
            }
        })

        provide(symbol, match)

        return { match }
    }
})
</script>
