<template>
    <PathRouter>
        <Route pattern="/">
            Index

            <Link href="/somewhere">Link somewhere</Link>
        </Route>

        <Route pattern="/blog/:postId" v-slot="{ postId }">
            <h1>Post {{ postId }}</h1>
            <p>Hello, world!</p>
        </Route>

        <Route pattern="/*">
            404
        </Route>
    </PathRouter>
</template>
<script lang="ts" setup>
import {
    PathRouter,
    Route,
    Link,
} from '../lib'
</script>
